body {
    background-image: url('./bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.form {
    margin-top: 100px;
    background-color: white;
}

.hover-zoom-card {
    box-shadow: 13px 13px 10px rgb(86, 86, 86);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.hover-zoom-card:hover {
    transform: scale(1.02);
    box-shadow: 0px 0px 20px 1px #fd1900;
} */

.hover-zoom-nav:hover {
    transform: scale(1.1); 
}

.sign-up {
    transition: transform 0.3s ease;
}

 .login {
    transition: transform 0.3s ease;
}

.products {
    transition: transform 0.3s ease;
}

.empty-cart {
    margin-top: 50px;
}

.custom-btn {
    background-color: #d6584a;
    color: white;
}

.custom-btn:hover {
    background-color: white; 
    color: black; 
    border: 1px solid #343a40;
    box-shadow: 0px 0px 20px 1px #fd1900;
}

.cart-bg-img {
    background-image: url('../static/cart-bg6.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.checkout-items {
    display: flex;
    flex-wrap: wrap;
}