{% extends 'base.html' %}

{% block content %}
<div class="form container col-4 align-self-center border border-2 border-dark rounded empty-cart rounded cart-bg-img">
    <div style="text-align: center;">
        <h1>Checked Out Items</h1>
    </div>
    <div class="row">
        <div class="checkout-items row">
            {% for item in cart_items %}
                <div class="col-md-4 p-3">
                    <div style="border: 1px solid black; height: 350px; width: 200px; background-color: white;" class="p-3 hover-zoom-card rounded">
                        <div>
                            <img style="max-height: 100px; max-width: 100%;" src="{{ item.item_image }}" alt="{{ item.item_name }} Image">
                            <h3 style="font-size: 18px;" class="mt-2">{{ item.item_name }}</h3>
                            <p style="font-size: 16px;" class="mt-3"><b>Category:</b> {{ item.category.title() }}</p>
                            <p class="mt-3"><b>Price:</b> ${{ '%.2f'|format(item.price) }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <div style="background-color: #212529;" class="row border border-dark mt-3">
        <div class="col-md-6">
            <a class="btn btn-primary mt-3 mb-3 border border-dark" href="/">Back To Products</a>
        </div>
        <div class="col-md-6 ml-auto text-right">
            <form method="POST" action="/checkout">
                <button type="submit" class="btn btn-success mt-3 mb-3 border border-dark">Checkout Total: ${{ total }}</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}